<div class="section" id="education">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Education</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2018 - 2022</p>
            <div class="h5">Bachelor's Degree</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Bachelor of Business Information Technology.</div>
            <h4 class="category">Jomo Kenyatta University of Agriculture and Technology.
            </h4>
            <ul>
              <li>The institution aims at Information technology, software engineering and business environment .
              </li>
              <li>
                With much enthusiasm, character, passion , grit and confidence got skills and expertise on <b>Software
                  development,
                  Web development</b> and <b>Business Intelligence.</b>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2013 - 2017</p>
            <div class="h5">High School</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">High School</div>
            <h4 class="category">Salient High School
            </h4>
            <ul>
              <li>
                The High School was mainly focus on the bases of science, mathematics, and Chemistry
              </li>
              <li>
                There was also a good base on physics, mathematics and chemistry langauges and discpline.
              </li>
              <li>
                Completed my high school with a good grade that enhanced my chance to join<b> JKUAT</b>.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2004 - 2012</p>
            <div class="h5">Primary School</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Primary School</div>
            <h4 class="category">Matura Primary School
            </h4>
            <ul>
              <li>The Secondary aims at Maths , English , Science, Social Science, Litrature and Languages.
              </li>

              <li>
                Completed my Secondary school with good grade and joined Passenga before <b>Salient</b>.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>